:root {
  --main-content-inline-size: clamp(600px, 700px, 900px);
  --main-font: 'Inter-Variable';
  --main-font-weight: 410;
  --main-headings-font-weight: 715;
  --accent-font: 'PressStart2P';

  --header-padding: 130px 0;
  --header-margin: 100px auto;
  --header-label-font-size: clamp(3.75rem, 3.5961rem + 1.8657vw, 4.0625rem);
  --header-maintitle-font-size: clamp(1.25rem, 1.1576rem + 1.1194vw, 1.4375rem);
  --cards-main-font-size: clamp(1rem, 0.9384rem + 0.7463vw, 1.125rem);

  --main-background-color: #fff;
  --stroke-color: #fff;
  --accent-color: black;

  --button-font-size: clamp(0.75rem, 0.6884rem + 0.7463vw, 0.875rem);
  --save-button-margin: 50px auto 100px;
  --save-button-flex-direction: row;
  --save-icon-size: 21px;

  --dialog-font-size: clamp(0.75rem, 0.6884rem + 0.7463vw, 0.875rem);
  --dialog-padding: 30px;

  --animation-fill-color: #ff0000;
  --main-body-color: transparent;
  --core-color: transparent;
}

@media (width <= 376px) {
  :root {
    --main-content-inline-size: clamp(320px, 375px, 425px);

    --header-padding: 122px 0;
    --header-margin: 100px auto 50px;
    --header-maintitle-font-size: clamp(2.875rem, 2.7519rem + 1.4925vw, 3.125rem);
    --header-subtitle-font-size: clamp(0.6875rem, 0.5644rem + 1.4925vw, 0.9375rem);

    --save-button-padding: 50px 0 150px;
    --save-button-margin: 50px auto 152px;
    --save-button-flex-direction: column;
    --save-icon-size: 28px;

    --dialog-padding: 30px 40px;
  }
  
}